# create dictionary python from files

In [68]:
import pandas

excel_data_df = pandas.read_excel('/home/jodie/Downloads/config_metric.xlsx')

json_str = excel_data_df.to_json()

In [69]:
json_str

'{"demo_code":{"0":"M2164","1":"P634","2":"B1520","3":"W3554","4":"W5564","5":"G1220"},"c2_5_flag":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0},"c6_11_flag":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":0},"m12_14_flag":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":0},"m15_17_flag":{"0":0,"1":1,"2":1,"3":0,"4":0,"5":0},"m18_20_flag":{"0":0,"1":1,"2":1,"3":0,"4":0,"5":0},"m21_24_flag":{"0":1,"1":1,"2":0,"3":0,"4":0,"5":0},"m25_34_flag":{"0":1,"1":1,"2":0,"3":0,"4":0,"5":0},"m35_49_flag":{"0":1,"1":0,"2":0,"3":0,"4":0,"5":0},"m50_54_flag":{"0":1,"1":0,"2":0,"3":0,"4":0,"5":0},"m55_64_flag":{"0":1,"1":0,"2":0,"3":0,"4":0,"5":0},"m65p_flag":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0},"f12_14_flag":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":1},"f15_17_flag":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":1},"f18_20_flag":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":1},"f21_24_flag":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":0},"f25_34_flag":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":0},"f35_49_flag":{"0":0,"1":0,"2":0,"3":1,"4":0,"5":0},"f50_54_flag":{"0":0,"1":0,"2":0,"3":1,"4":0,"5":0},"f55_64_flag":{"0":0,"1":0,"2":0,"3":0,"4":1,"5":0},"f65p_flag":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0},"ww_flag":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0}}'

# split a time interval into equal portions

In [1]:
import datetime
import pandas as pd

In [1]:
begin = '2020-03-02 13:02:00'
end = '2020-03-02 15:55:07'

In [2]:
def date_range(start, end, intv):
    from datetime import datetime
    start = datetime.strptime(start,"%Y-%m-%d %H:%M:%S")
    end = datetime.strptime(end,"%Y-%m-%d %H:%M:%S")
    diff = (end  - start ) / intv
    for i in range(intv):
        yield (start + diff * i).strftime("%Y-%m-%d %H:%M:%S")
    yield end.strftime("%Y-%m-%d %H:%M:%S")

In [3]:
start_time = list(date_range(begin, end, 6))
del start_time[-1]

In [4]:
end_time = list(date_range(begin, end, 6))
del end_time[0]

In [8]:
time = pd.Series(data=start_time,name='start_time').to_frame()
time['end_time'] = pd.Series(data=end_time,name='end_time').to_frame()

In [9]:
time

            start_time             end_time
0  2020-03-02 13:02:00  2020-03-02 13:30:51
1  2020-03-02 13:30:51  2020-03-02 13:59:42
2  2020-03-02 13:59:42  2020-03-02 14:28:33
3  2020-03-02 14:28:33  2020-03-02 14:57:24
4  2020-03-02 14:57:24  2020-03-02 15:26:15
5  2020-03-02 15:26:15  2020-03-02 15:55:07

# print week starting and weekend

In [94]:
import numpy as np

In [115]:
x = pd.date_range('2020-11-09', '2020-11-16').to_series()
x = x.dt.dayofweek.to_frame()
x = x.rename(columns={0: "week"})

In [116]:
x.loc[x['week'] == 0] = 'weekday'
x.loc[x['week'] == 6] = 'weekend'
x.loc[(x['week'] == 1)|(x['week'] == 2)|(x['week'] == 3)|(x['week'] == 4)|(x['week'] == 5)] = ''

In [128]:
x

               week
2020-11-09  weekday
2020-11-10
2020-11-11
2020-11-12
2020-11-13
2020-11-14
2020-11-15  weekend
2020-11-16  weekday

# add a new column to a bigquery table, whenever there is a notification/email alert occurs

In [120]:
import email

from email.parser import HeaderParser
with open('/home/jodie/Downloads/Mail1',"r",encoding="ISO-8859-1") as f:
    msg=email.message_from_file(f)
    print('message',msg.as_string())
    parser = HeaderParser()
    h = parser.parsestr(msg.as_string())

message Return-Path: <exmh-workers-admin@example.com>
Delivered-To: zzzz@localhost.netnoteinc.com
Received: from localhost (localhost [127.0.0.1])
	by phobos.labs.netnoteinc.com (Postfix) with ESMTP id D03E543C36
	for <zzzz@localhost>; Thu, 22 Aug 2002 07:36:16 -0400 (EDT)
Received: from phobos [127.0.0.1]
	by localhost with IMAP (fetchmail-5.9.0)
	for zzzz@localhost (single-drop); Thu, 22 Aug 2002 12:36:16 +0100 (IST)
Received: from listman.example.com (listman.example.com [66.187.233.211]) by
    dogma.slashnull.org (8.11.6/8.11.6) with ESMTP id g7MBYrZ04811 for
    <zzzz-exmh@example.com>; Thu, 22 Aug 2002 12:34:53 +0100
Received: from listman.example.com (localhost.localdomain [127.0.0.1]) by
    listman.redhat.com (Postfix) with ESMTP id 8386540858; Thu, 22 Aug 2002
    07:35:02 -0400 (EDT)
Delivered-To: exmh-workers@listman.example.com
Received: from int-mx1.corp.example.com (int-mx1.corp.example.com
    [172.16.52.254]) by listman.redhat.com (Postfix) with ESMTP id 10CF8406D7
    for <exmh-workers@listman.redhat.com>; Thu, 22 Aug 2002 07:34:10 -0400
    (EDT)
Received: (from mail@localhost) by int-mx1.corp.example.com (8.11.6/8.11.6)
    id g7MBY7g11259 for exmh-workers@listman.redhat.com; Thu, 22 Aug 2002
    07:34:07 -0400
Received: from mx1.example.com (mx1.example.com [172.16.48.31]) by
    int-mx1.corp.redhat.com (8.11.6/8.11.6) with SMTP id g7MBY7Y11255 for
    <exmh-workers@redhat.com>; Thu, 22 Aug 2002 07:34:07 -0400
Received: from ratree.psu.ac.th ([202.28.97.6]) by mx1.example.com
    (8.11.6/8.11.6) with SMTP id g7MBIhl25223 for <exmh-workers@redhat.com>;
    Thu, 22 Aug 2002 07:18:55 -0400
Received: from delta.cs.mu.OZ.AU (delta.coe.psu.ac.th [172.30.0.98]) by
    ratree.psu.ac.th (8.11.6/8.11.6) with ESMTP id g7MBWel29762;
    Thu, 22 Aug 2002 18:32:40 +0700 (ICT)
Received: from munnari.OZ.AU (localhost [127.0.0.1]) by delta.cs.mu.OZ.AU
    (8.11.6/8.11.6) with ESMTP id g7MBQPW13260; Thu, 22 Aug 2002 18:26:25
    +0700 (ICT)
From: Robert Elz <kre@munnari.OZ.AU>
To: Chris Garrigues <cwg-dated-1030377287.06fa6d@DeepEddy.Com>
Cc: exmh-workers@example.com
Subject: Re: New Sequences Window
In-Reply-To: <1029945287.4797.TMDA@deepeddy.vircio.com>
References: <1029945287.4797.TMDA@deepeddy.vircio.com>
    <1029882468.3116.TMDA@deepeddy.vircio.com> <9627.1029933001@munnari.OZ.AU>
    <1029943066.26919.TMDA@deepeddy.vircio.com>
    <1029944441.398.TMDA@deepeddy.vircio.com>
MIME-Version: 1.0
Content-Type: text/plain; charset=us-ascii
Message-Id: <13258.1030015585@munnari.OZ.AU>
X-Loop: exmh-workers@example.com
Sender: exmh-workers-admin@example.com
Errors-To: exmh-workers-admin@example.com
X-Beenthere: exmh-workers@example.com
X-Mailman-Version: 2.0.1
Precedence: bulk
List-Help: <mailto:exmh-workers-request@example.com?subject=help>
List-Post: <mailto:exmh-workers@example.com>
List-Subscribe: <https://listman.example.com/mailman/listinfo/exmh-workers>,
    <mailto:exmh-workers-request@redhat.com?subject=subscribe>
List-Id: Discussion list for EXMH developers <exmh-workers.example.com>
List-Unsubscribe: <https://listman.example.com/mailman/listinfo/exmh-workers>,
    <mailto:exmh-workers-request@redhat.com?subject=unsubscribe>
List-Archive: <https://listman.example.com/mailman/private/exmh-workers/>
Date: Thu, 22 Aug 2002 18:26:25 +0700

    Date:        Wed, 21 Aug 2002 10:54:46 -0500
    From:        Chris Garrigues <cwg-dated-1030377287.06fa6d@DeepEddy.Com>
    Message-ID:  <1029945287.4797.TMDA@deepeddy.vircio.com>


  | I can't reproduce this error.

For me it is very repeatable... (like every time, without fail).

This is the debug log of the pick happening ...

18:19:03 Pick_It {exec pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace} {4852-4852 -sequence mercury}
18:19:03 exec pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace 4852-4852 -sequence mercury
18:19:04 Ftoc_PickMsgs {{1 hit}}
18:19:04 Marking 1 hits
18:19:04 tkerror: syntax error in expression "int ...

Note, if I run the pick command by hand ...

delta$ pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace  4852-4852 -sequence mercury
1 hit

That's where the "1 hit" comes from (obviously).  The version of nmh I'm
using is ...

delta$ pick -version
pick -- nmh-1.0.4 [compiled on fuchsia.cs.mu.OZ.AU at Sun Mar 17 14:55:56 ICT 2002]

And the relevant part of my .mh_profile ...

delta$ mhparam pick
-seq sel -list


Since the pick command works, the sequence (actually, both of them, the
one that's explicit on the command line, from the search popup, and the
one that comes from .mh_profile) do get created.

kre

ps: this is still using the version of the code form a day ago, I haven't
been able to reach the cvs repository today (local routing issue I think).



_______________________________________________
Exmh-workers mailing list
Exmh-workers@redhat.com
https://listman.redhat.com/mailman/listinfo/exmh-workers

In [121]:
x = h.get_payload() #get body
x

'    Date:        Wed, 21 Aug 2002 10:54:46 -0500\n    From:        Chris Garrigues <cwg-dated-1030377287.06fa6d@DeepEddy.Com>\n    Message-ID:  <1029945287.4797.TMDA@deepeddy.vircio.com>\n\n\n  | I can\'t reproduce this error.\n\nFor me it is very repeatable... (like every time, without fail).\n\nThis is the debug log of the pick happening ...\n\n18:19:03 Pick_It {exec pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace} {4852-4852 -sequence mercury}\n18:19:03 exec pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace 4852-4852 -sequence mercury\n18:19:04 Ftoc_PickMsgs {{1 hit}}\n18:19:04 Marking 1 hits\n18:19:04 tkerror: syntax error in expression "int ...\n\nNote, if I run the pick command by hand ...\n\ndelta$ pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace  4852-4852 -sequence mercury\n1 hit\n\nThat\'s where the "1 hit" comes from (obviously).  The version of nmh I\'m\nusing is ...\n\ndelta$ pick -version\npick -- nmh-1.0.4 [compiled on fuchsia.cs.mu.OZ.AU at Sun Mar 17 14:55:56 ICT 2002]\n\nAnd the relevant part of my .mh_profile ...\n\ndelta$ mhparam pick\n-seq sel -list\n\n\nSince the pick command works, the sequence (actually, both of them, the\none that\'s explicit on the command line, from the search popup, and the\none that comes from .mh_profile) do get created.\n\nkre\n\nps: this is still using the version of the code form a day ago, I haven\'t\nbeen able to reach the cvs repository today (local routing issue I think).\n\n\n\n_______________________________________________\nExmh-workers mailing list\nExmh-workers@redhat.com\nhttps://listman.redhat.com/mailman/listinfo/exmh-workers\n\n'

In [ ]:
from google.cloud import bigquery

client = bigquery.Client()
pandas_gbq.to_gbq(output_details,project_id="koinworks-dwh-prod",destination_table="afpi_out_result.output_details",  
                  if_exists='overwrite', credentials=client,
                 table_schema=[{'name': 'email_user', 'type': 'STRING'},
                               {'name': 'email', 'type': 'STRING'}
                              ]
                 )

# extract a .tz file & load into destination table

In [61]:
import  tarfile
tar = tarfile.open("/home/jodie/Documents/tunaiku/test.tar.xz")

In [62]:
li=[]
for member in tar.getmembers():
    f=tar.extractfile(member)
    content = pd.read_csv(f, sep=',')
    li.append(content)

In [63]:
frame = pd.concat(li, axis=0, ignore_index=True)
frame

   id values
0   1      a
1   2      b
2   3      a
3   4      b

In [67]:
from sqlalchemy import create_engine
connect = "postgresql+psycopg2://admin:admin@localhost:5432/postgres"
def to_alchemy(df):
    engine = create_engine(connect)
    frame.to_sql(
        'tunaiku_test', 
        con=engine, 
        index=False, 
        if_exists='replace'
    )

# parallel threading for a class/pkg

In [74]:
import threading

In [79]:
def testForThread1():
    print('[Thread1]: ')
    test1 = pd.read_csv('/home/jodie/Documents/tunaiku/test.csv', sep=',')
    print(test1)

def testForThread2():
    print('[Thread2]: ')
    test2 = pd.read_csv('/home/jodie/Documents/tunaiku/test2.csv', sep=',')
    print(test2)

if __name__ == "__main__":
    t1 = threading.Thread(name="Test1", target=testForThread1) 
    t1.start()
    t2 = threading.Thread(name="Test2", target=testForThread2) 
    t2.start()

[Thread1]:
   id values
0   1      a
1   2      b
[Thread2]:
   id values
0   3      a
1   4      b